.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    width: 180px;
    height: 180px;
    object-fit: contain;
    cursor: pointer;
}

.checkoutProduct__info {
    padding-left: 20px;

}

.checkoutProduct__info>button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    color: #111;
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}


.checkoutProduct__price {}

.checkoutProduct__rating {}

.product__ratingStar {}