.login {
    display: flex;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
}

.login__container>h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container>form>h5 {
    margin-bottom: 5px;
}

.login__container>form>input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    padding: 0 5px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0
}



.login__container>p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 3px 5px;
    cursor: pointer;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: lightgrey;
    cursor: pointer;
}


.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__footerLink {
    text-decoration: none;
}

.login__footerLink:hover {
    color: #c45500;
    text-decoration: underline;
}