.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 150px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift>input {
  margin-right: 5px;
  cursor: pointer;
}

.subtotal>button {

  border-radius: 2px;
  width: 100%;
  padding: 5px 20px;
  margin-top: 10px;
  color: #111;
  cursor: pointer;
  background: #FFD814;
  border-color: #FCD200;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
  border-style: solid;
}